#banner {
	min-height: 100%;
	background-image: url("../img/palm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	position: relative;

	display: table;
    height: 100%;
    width: 100%;
	z-index:10;

	margin-bottom: 0px;
}


#banner h1 {
	color: white;
}

.navbar {
	height: 50px;
	font-weight: bold;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
}


#login {
	margin-top: 7px;
}

#bannerInner {
	display: table-cell;
    vertical-align: middle;
	z-index:10;
	width: 100%;
	float: center;
	position: relative;
	text-align: center;
}

#bannerInnerInner {
	display: table-cell;
    vertical-align: middle;
	z-index:10;
	text-align: center;
	float: center;
	margin: 0 auto;
}

.col-md-4 {
	text-align: center;
}

#howItWorks {
	margin-bottom: 0px;
}

#howItWorks i {
	line-height: 100px;
}

#SignUpBtn {
	width: 200px;
}

/* Contact Form */
#contactUs {
	background: #1fbad6;
	margin-bottom: 0px;
	color: white;
}

.col-md-6 {
	position: relative;
	height: 100%;
}

#contactForm {
	color: white;
}

#contactForm input[type="text"] {
	background: #208bb9;
	width: 100%;
	border: none;
	box-shadow: none;
	font-size: 20px;
}

#contactForm input[type="email"] {
	background: #208bb9;
	width: 100%;
	border: none;
	box-shadow: none;
	font-size: 20px;
}

#contactForm textarea {
	background: #208bb9;
	width: 100%;
	border: none;
	box-shadow: none;
	font-size: 20px;
}

#contactSubmit {
	background: #208bb9;
}