html, body {
	height: 100%;
	margin: 0;
}

#banner {
	min-height: 100%;
	background-image: url("../img/palm.jpg");
	background-size: 100%;
}

.h1 {
	font: black;
}

#title {
	height: 100%;
	line-height: 100%;
	text-align: center;
}

#innertitle {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}