#banner {
	min-height: 100%;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	position: relative;

	display: table;
    height: 100%;
    width: 100%;
	z-index:10;

	margin-bottom: 0px;
}

#bannerInner {
	display: table-cell;
    vertical-align: middle;
	z-index:10;
	width: 100%;
	float: center;
	position: relative;
	text-align: center;
}

#bannerInnerInner {
	display: table-cell;
    vertical-align: middle;
	z-index:10;
	text-align: center;
	float: center;
	margin: 0 auto;
}