@charset "utf-8";
/* CSS Document */

/* Style of the tops of div tables used in NPC manager, server stats and grabage collector. */
.tableHeader {
	font-size:12px;
	font-weight:900;
	padding:3px;
	text-align:left;
}

/* Style of the cells of div tables used in NPC manager, server stats and grabage collector. */
.tableCell {
	font-size:12px;
	padding:3px;
	text-align:left;
}

